.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  
    ion-text {
      margin-bottom: 20px;
    }
  }
  
  .cart-content {
    ion-list {
      margin-bottom: 20px;
    }
  
    .cart-total {
      text-align: center;
      padding: 20px;
      background-color: var(--ion-color-light);
      border-radius: 10px;
  
      h2 {
        margin-bottom: 20px;
        font-weight: bold;
        color: var(--ion-color-dark);
      }
  
      ion-button {
        margin-bottom: 10px;
      }
    }
  }